<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_ZcIjtY.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
    <div id="main" class="container text-center">

        <h1 class="text-warning">{{title}}</h1>
        <div class="container">

            <input class="form-control" type="text" v-model="text" @keyup.enter="Anadir()" placeholder="Escribe aqui">
            <button class="btn btn-outline-primary mb-4 mt-3 circle" @click="Anadir()">Añadir</button>
            <button class="btn btn-outline-danger mb-4 mt-3" @click="BorrarTodo(index)">Borrar Todo</button>
            
            
            <h4 class="text-warning" v-if="metas.length === 0">No hay nada para recordar - Añade algo!</h4>
            <ul class="mt-4">
                <li v-for="(meta,index) in metas">
                    <i class="fas fa-asterisk fa-1x fa-spin circle"></i>
                    <strong class="circle"> {{ meta }} </strong>|
                    <i class="far fa-trash-alt text-danger circle" @click="Remove(index)"> </i>
                    
                </li>
            </ul>
            <h3><i class="fas fa-spinner fa-pulse text-warning fa-1x"> </i>Total : {{total}}</h3>
        </div>
    </div>

    <class class="container card mb-5 mt-5 text-center rounded-3 border-success" style="max-width: 540px;">
        <class class="row g-0">
          <div class="col-md-4">
            <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_iSK2a6.json"  background="transparent"  speed="1"  style="width: 300px; height: 200px;"  loop  autoplay></lottie-player>
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <p class="card-text">Para ver este código y otros proyectos, dejo el enlace de mi github para que los vean y los clonen por si lo quieren modificar a su manera.</p>
                <h5 class="card-title"><a href="https://github.com/jaysenhl/Todo_List.git">Ver Repositorios</a></h5>
            </div>
          </div>
        </class>
    </class>

    <footer class="text-center text-success">Made By Jaysen <i class="fas fa-laptop-code"></i> 2021 <i class="fas fa-atom fa-spin"></i></footer>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>